@import 'variables.css';

/* Components */
@import 'components/buttons.css';
@import 'components/table.css';
@import 'components/form.css';
@import 'components/switch.css';

/* Screens */
@import 'screens/1-device.css';
@import 'screens/2-branch.css';

/* 스크롤바 */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey-400) white;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--grey-400);
  border-radius: 20px;
  border: 3px solid white;
}
