@import 'variables.css';

/* Components */
@import 'components/buttons.css';
@import 'components/table.css';
@import 'components/form.css';
@import 'components/switch.css';
@import 'components/layout.css';

/* Pages */
/* @import 'pages/login.css'; */
/* @import 'pages/devices/index.css'; */
/* @import 'pages/devices/media.css'; */
/* @import 'pages/stores/index.css'; */
/* @import 'pages/ads/index.css'; */
@import 'pages/ads/contract.css';
@import 'pages/ads/detail.css';
@import 'pages/settings/index.css';
@import 'pages/settings/users.css';
@import 'pages/settings/authors.css';
@import 'pages/reports/index.css';
@import 'pages/reports/issue.css';
@import 'pages/reports/monitor.css';
@import 'pages/reports/schedule.css';
@import 'pages/reports/screenshot.css';
@import 'pages/reports/manage.css';
@import 'pages/reports/log.css';
@import 'pages/reports/user.css';
@import 'pages/reports/batch.css';
@import 'pages/schedules/detail.css';
@import 'pages/schedules/store.css';

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}
/* 스크롤바 */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey-400) white;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--grey-400);
  border-radius: 20px;
  border: 3px solid white;
}

dialog {
  border-radius: 5px;
}
