:root {
  --red: #ff4842;
  --yellow-primary: #ffab00;
  --yellow-light: #ffeecc;
  --grey-100: #f9fafb;
  --grey-200: #c0c8cf;
  --grey-300: #919eab;
  --grey-400: #637381;
  --grey-500: #45515b;
  --grey-disabled: #edeff1;
  --border-grey: #dce0e4;
}
