.nav-tabs .nav-link {
  color: var(--grey-300) !important;
}
.nav-tabs .nav-link.active {
  color: var(--grey-500) !important;
  border-color: var(--yellow-primary) !important;
}

/* 디바이스 등록 Form */
.form_device {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form_device_container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: space-between;
  row-gap: 1em;
}
.form_device_container .field {
  display: grid;
  grid: inherit;
  grid-template-columns: 5em 180px;
  column-gap: 1em;
}
.form_device_container .field:nth-child(4),
.form_device_container .field:nth-child(5),
.form_device_container .field:nth-child(7) {
  grid-column: span 2;
  grid-template-columns: 5em auto;
}
.form_device_container .field:nth-child(8) {
  padding-top: 9px;
}
.form_device_container .label-text {
  place-self: center end;
  color: var(--grey-400);
  font-size: 15px;
}

/* 등록된 매체 */
.media {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  overflow-y: auto;
}
.media_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
  height: 28px;
  font-size: 13px;
  border: 1px solid var(--grey-200);
}

/* 매체 추가 Form */
.form_mediaAdd {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-container_mediaAdd {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: space-between;
  row-gap: 1em;
}
.form-container_mediaAdd .field {
  display: grid;
  grid: inherit;
  grid-template-columns: 5em 180px;
  column-gap: 1em;
}
.form-container_mediaAdd .field:nth-child(1),
.form-container_mediaAdd .field:nth-child(5),
.form-container_mediaAdd .field:nth-child(6) {
  grid-column: span 2;
}
.form-container_mediaAdd .field:nth-child(1) {
  grid-template-columns: 5em auto;
}
.form-container_mediaAdd .field:nth-child(5),
.form-container_mediaAdd .field:nth-child(6) {
  grid-template-columns: 10em auto;
}
.form-container_mediaAdd .label-text {
  place-self: center end;
  color: var(--grey-400);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* 디바이스 세부정보 수정 Form */
/* 볼륨조절, 휴점일, 꺼짐설정 */
.form_device section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 110px 250px 390px;
  gap: 10px;
  height: 390px;
}
.form_device section article {
  border: 1px solid var(--grey-200);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_device section article:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  height: 390px;
}
/* 볼륨조절*/
.volume-container {
  display: grid;
  grid-template-columns: auto 100px;
  gap: 20px;
  align-items: center;
}
#volume-result {
  height: 30px !important;
  border: 1px solid red;
}
/* 휴점일 */
.form_device section article:nth-child(2) {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.form_device section article:nth-child(2) > div:nth-child(1) {
  padding-bottom: 20px;
  border-bottom: 1px dashed var(--grey-200);
}
.form_device section article:nth-child(2) .datepicker input {
  height: 30px;
}
/* 꺼짐설정 */
.offContainer {
  display: grid;
  row-gap: 10px;
}
.offList {
  display: grid;
  grid-template-columns: 7em 200px;
  justify-content: space-between;
  align-items: start;
}
.offList a {
  height: 30px;
}
.offListItem {
  display: flex;
  align-items: center;
  gap: 5px;
}
.offListItem_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.offListItem_box {
  display: grid;
  grid-template-columns: 3em auto;
  align-items: center;
}
