.nav-tabs .nav-link {
  color: var(--grey-300) !important;
}
.nav-tabs .nav-link.active {
  color: var(--grey-500) !important;
  border-color: var(--yellow-primary) !important;
}

/* 디바이스 등록 Form */
.form_device {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-container_detailEdit {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: space-between;
  row-gap: 1em;
}
.form-container_detailEdit .field {
  display: grid;
  grid: inherit;
  grid-template-columns: 5em 180px;
  column-gap: 1em;
}
.form-container_detailEdit .field:nth-child(4),
.form-container_detailEdit .field:nth-child(5),
.form-container_detailEdit .field:nth-child(7) {
  grid-column: span 2;
  grid-template-columns: 5em auto;
}
.form-container_detailEdit .label-text {
  place-self: center end;
  color: var(--grey-400);
  font-size: 15px;
}

/* 등록된 매체 */
.media {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  overflow-y: auto;
}
.media_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
  height: 28px;
  font-size: 13px;
  border: 1px solid var(--grey-200);
}

/* 매체 추가 Form */
.form_mediaAdd {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-container_mediaAdd {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: space-between;
  row-gap: 1em;
}
.form-container_mediaAdd .field {
  display: grid;
  grid: inherit;
  grid-template-columns: 5em 180px;
  column-gap: 1em;
}
.form-container_mediaAdd .field:nth-child(1),
.form-container_mediaAdd .field:nth-child(5),
.form-container_mediaAdd .field:nth-child(6) {
  grid-column: span 2;
}
.form-container_mediaAdd .field:nth-child(1) {
  grid-template-columns: 5em auto;
}
.form-container_mediaAdd .field:nth-child(5),
.form-container_mediaAdd .field:nth-child(6) {
  grid-template-columns: 10em auto;
}
.form-container_mediaAdd .label-text {
  place-self: center end;
  color: var(--grey-400);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* 디바이스 세부정보 수정 Form */
.form_detailEdit {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-container_detailEdit {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: space-between;
  row-gap: 1em;
}
.form-container_detailEdit .field {
  display: grid;
  grid: inherit;
  grid-template-columns: 5em 180px;
  column-gap: 1em;
}
.form-container_detailEdit .field:nth-child(4),
.form-container_detailEdit .field:nth-child(5),
.form-container_detailEdit .field:nth-child(7) {
  grid-column: span 2;
  grid-template-columns: 5em auto;
}
.form-container_detailEdit .label-text {
  place-self: center end;
  color: var(--grey-400);
  font-size: 15px;
}
/* form - section */
.form_detailEdit section {
  border: 1px solid green;
  height: 380px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  /* grid:
    '볼륨조절' 80px
    '휴점일' 220px
    '꺼짐설정' 380px;
  grid-template-areas:
    '볼륨조절 꺼짐설정'
    '휴점일 꺼짐설정'; */
}
.form_detailEdit section article {
  border: 1px solid var(--grey-200);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_detailEdit section article:nth-child(1) {
  height: 80px;
}
.form_detailEdit section article:nth-child(2) {
  background: pink;
  height: 80px;
}
.form_detailEdit section article:nth-child(3) {
  height: 80px;
}
