/* 사용자 등록 form */
#form_userRegister,
#form_branchSearch {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#form_userRegister fieldset {
  display: grid;
}
#form_userRegister .field {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
/* 점포 */
#form_userRegister .field:nth-child(2) {
  grid-template-columns: 100px auto 70px;
}
/* 사번 */
#form_userRegister .field:nth-child(3) {
  grid-template-columns: 100px auto 70px 70px;
}
/* 비밀번호 */
#form_userRegister .field:nth-child(5) {
  grid-template-columns: 100px auto;
  margin-bottom: 10px;
}
#form_userRegister .field:nth-child(5) .labelText {
  margin-bottom: 30px;
}

/* 점포 검색 form */
#form_branchSearch .field:first-child {
  display: grid;
  grid-template-columns: 41px auto 80px;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
#form_branchSearch .field:first-child .button {
  height: 40px;
}
#form_branchSearch .labelText {
  width: max-content;
}

/* 점포 검색 form > 테이블 */
#form_branchSearch table.scrolldown {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--border-grey);
  font-size: 13px;
  color: var(--grey-500);
}
#form_branchSearch table.scrolldown tbody,
#form_branchSearch table.scrolldown thead {
  display: block;
}
#form_branchSearch thead tr th {
  height: 40px;
  background-color: var(--border-grey);
}
#form_branchSearch table.scrolldown tbody {
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}
#form_branchSearch tbody td,
#form_branchSearch thead th {
  width: 400px;
  line-height: 30px;
}
#form_branchSearch tbody td:first-child,
#form_branchSearch thead th:first-child {
  width: 200px;
}
#form_branchSearch td {
  text-align: center;
}
#form_branchSearch tbody tr:hover {
  background-color: var(--yellow-light);
  cursor: pointer;
}
