body {
  min-height: 100vh;
  display: grid;
  grid:
    'nav' 60px
    'main' 1fr;
  grid-template-areas:
    'aside nav'
    'aside main';
}

aside {
  grid-area: aside;
  border: 1px solid red;
  width: 300px;
}
nav {
  grid-area: nav;
  border: 1px solid aqua;
  height: 60px;
}
main {
  grid-area: main;
  border: 1px solid blue;
}
