.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.button {
  background-color: var(--grey-300);
  color: white;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button:disabled {
  background-color: var(--grey-200);
}
.button_yellow_darkText {
  background-color: var(--yellow-primary) !important;
  color: var(--grey-500) !important;
}
.button_yellow_lightText {
  background-color: var(--yellow-primary) !important;
  color: #fff !important;
}
.button_small {
  height: 25px;
  font-size: 13px;
  font-weight: 400;
  min-width: 70px;
}

/* 엑셀 다운받기 버튼 */
.button_download {
  font-size: 13px;
  height: 30px;
}

i {
  cursor: pointer;
}
