#reportsIndexMain {
  min-width: 1500px;
}
#reportsIndexMain .mainTopNavbar {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#reportsIndexMain .mainTopNavbar span {
  flex-basis: 50px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
#reportsIndexMain .mainTopNavbar .teDatepickerInput {
  width: 152px;
}
