.mainTopNavbar {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.mainTopNavbar span {
  flex-basis: 50px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainTopNavbar .teDatepickerInput {
  width: 152px;
}

/* 테이블 */
#reports-index-table th {
  border: 1px solid #fff !important;
}
#reports-index-table td:not(:last-child) {
  border-right: 1px solid var(--border-grey) !important;
  border-bottom: none !important;
}

/* 그래프 */
#reports-index-graph {
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px;
  padding-top: 0;
}
#reports-index-graph article {
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  height: 350px;
  padding: 15px;
  font-size: 14px;
}
#reports-index-graph article {
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  height: 350px;
  padding: 15px;
}
#reports-index-graph article span {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

/*   광고주 리포트 조회  form */
#form_adReportSearch .field {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
