#reportsScreenshotMain .mainTopNavbar {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#reportsScreenshotMain .mainTopNavbar span {
  flex-basis: 50px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
#reportsScreenshotMain .mainTopNavbar span:first-child {
  margin-left: 10px;
  margin-right: 50px;
}
#reportsScreenshotMain .mainTopNavbar .teDatepickerInput {
  width: 172px;
}
#reportsScreenshotMain .tableName {
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding-left: 16px;
  padding-bottom: 15px;
}

#screenshotModal section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 10px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
}
#screenshotModal article {
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-100);
}
#screenshotModal .imageContainer {
  height: 200px;
}
#screenshotModal img {
  object-fit: contain;
}
#screenshotModal ul {
  padding: 10px;
}
#screenshotModal li {
  display: grid;
  grid-template-columns: 6em auto;
  font-size: 13px;
}
#screenshotModal .labelText {
  color: var(--grey-300);
  font-size: 13px;
}
