.mainContents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mainTopNavbar {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.mainTopNavbar span {
  flex-basis: 50px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainTopNavbar .teDatepickerInput {
  width: 152px;
}
.mainContents > div > .mainTopNavbar input[type='text'] {
  width: 144px;
}
.cardContainer {
  height: 630px;
  border: 1px solid var(--border-grey);
  display: grid;
  grid-template-columns: 300px 300px auto;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: #fff;
  border-right: 1px solid var(--border-grey);
}
.card .contentsContainer {
  height: 570px;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  margin-top: -8px;
}
.card .contentsContainer ul {
  margin-top: 10px;
  overflow-y: auto;
}
.card header {
  display: flex;
  justify-content: space-between;
}
.card h5 {
  font-weight: bold;
}
.contentsItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--grey-500);
  margin-bottom: 20px;
}
.screenboxContainer {
  display: flex;
  height: 25px;
  margin-bottom: 5px;
}
.screenboxContainer li {
  border: 1px solid var(--grey-400);
  border-right: 0;
  width: 42px;
}
.screenboxContainer li:last-child {
  border-right: 1px solid var(--grey-400);
}

/* 2. 콘텐츠 선택 */
.card:nth-child(2) {
  background-color: var(--grey-100);
}
.card:nth-child(2) .mainTopNavbar {
  gap: 10px;
  padding: 10px 0;
}
.card:nth-child(2) .mainTopNavbar .form_dropdown_label {
  min-width: 80px;
}
.card:nth-child(2) .contentsItem {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}
.card:nth-child(2) img,
.card:nth-child(2) video {
  width: 50px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}

/* 3. 광고 상세설정 */
.card:last-child {
  border-right: 0;
}
.card:last-child .mainTopNavbar {
  display: grid;
  gap: 10px;
}
.card:last-child .screenboxContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:last-child .screenboxContainer li {
  width: 300px;
  height: 200px;
}
.card:last-child .selectedContainer {
  max-height: 170px;
  min-height: 35px;
}
.card:last-child .selectedContainer .contentsItem {
  background-color: var(--grey-100);
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.card:last-child .selectedContainer .contentsItem div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card:last-child .selectedContainer .contentsItem div:last-child {
  gap: 40px;
}
.card:last-child .selectedContainer .time {
  height: 22px;
  width: 60px;
}
.card:last-child .selectedContainer .contentsItem div:last-child button {
  height: 22px;
}

/* 매체 추가 form */
#form_adMediaAdd {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#form_adMediaAdd .formContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: space-between;
  row-gap: 10px;
}
#form_adMediaAdd .formContainer .field {
  display: grid;
  grid: inherit;
  grid-template-columns: 3em auto;
  column-gap: 10px;
}
#form_adMediaAdd .formContainer .field:nth-child(1),
#form_adMediaAdd .formContainer .field:nth-child(2) {
  grid-column: span 2;
}
#form_adMediaAdd .formContainer .field:last-child {
  place-self: end;
}
#form_adMediaAdd .labelText {
  place-self: center end;
}
