table col {
  width: 90px;
}
table .col1 {
  width: 50px;
}
table .col2 {
  width: 25%;
}
table .col10 {
  width: 90px;
}
.tableBody td {
  height: 70px;
}
.tableBody td:nth-child(2) {
  text-align: left;
}

/* 콘텐츠 등록 Form */
#form_contentsRegister {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#form_contentsRegister ul {
  min-height: 300px;
  max-height: 450px;
  overflow-y: auto;
}
#form_contentsRegister li {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#form_contentsRegister .progressContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
#form_contentsRegister .timeContainer {
  display: flex;
  gap: 10px;
}
#form_contentsRegister .fileStatus {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 22px;
}
#form_contentsRegister .fileStatus i {
  cursor: auto !important;
}
#form_contentsRegister .fileName {
  color: var(--grey-500);
}
#form_contentsRegister .fileSize {
  font-size: 12px;
  color: var(--grey-400);
}
#form_contentsRegister li.upload_ing .fileStatus {
  visibility: hidden;
}
#form_contentsRegister li.upload_ing .timeContainer {
  color: var(--grey-200);
}
#form_contentsRegister li.upload_ing progress::-webkit-progress-bar {
  background: var(--grey-200);
  border-radius: 10px;
}
#form_contentsRegister li.upload_ing progress::-webkit-progress-value {
  border-radius: 10px;
  background: var(--grey-400);
}
#form_contentsRegister li.upload_success progress::-webkit-progress-bar {
  background: var(--grey-400);
  border-radius: 10px;
}
#form_contentsRegister li.upload_success progress::-webkit-progress-value {
  border-radius: 10px;
  background: var(--grey-400);
}
#form_contentsRegister li.upload_fail progress::-webkit-progress-bar {
  background: var(--red);
  border-radius: 10px;
}
#form_contentsRegister li.upload_fail progress::-webkit-progress-value {
  border-radius: 10px;
  background: var(--red);
}
#form_contentsRegister li.upload_fail .fileStatus {
  color: var(--red);
}
