.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.buttons > button {
  background-color: var(--grey-500);
  color: white;
  border-radius: 2px;
  padding: 8px 20px;
  font-size: 14px;
}
.buttons > button:disabled {
  background-color: var(--grey-200);
}
.buttons > .button_yellow {
  background-color: var(--yellow-primary);
  color: var(--grey-500);
}
.buttons > .button_with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
