.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: -20px;
}
.button {
  background-color: var(--grey-300);
  color: white;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button_dark {
  background-color: var(--grey-500);
}
.button:disabled {
  background-color: var(--grey-200) !important;
}
.button_yellow_darkText {
  background-color: var(--yellow-primary) !important;
  color: var(--grey-500) !important;
}
.button_yellow_lightText {
  background-color: var(--yellow-primary) !important;
  color: #fff !important;
}

.button_small {
  height: 25px;
  font-size: 13px;
  font-weight: 400;
}
.button_big {
  min-width: 80px;
  height: 40px;
  font-size: 15px;
  font-weight: 400;
}
/* 취소, 저장 버튼 */
.button_save {
  width: 90px;
}
/* 삭제 버튼 */
.button_delete {
  background-color: var(--grey-500) !important;
  color: #fff !important;
  font-weight: 400;
  width: 58px;
}
/* 엑셀 다운받기 버튼 */
.button_download {
  font-size: 13px;
  height: 30px;
  font-weight: 400;
}

i {
  cursor: pointer;
}
