/* .cardNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.cardNavbar span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cardNavbar .labelText {
  width: max-content;
} */
.cardNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.cardNavbar span {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 10px;
}
.cardNavbar .labelText {
  /* width: max-content; */
}
