.cardNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.cardNavbar span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cardNavbar .labelText {
  width: max-content;
  color: var(--grey-400);
  font-size: 15px;
  font-weight: normal;
  text-align: end;
}
