.cardNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.cardNavbar span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cardNavbar .labelText {
  width: max-content;
}
