.required label:before {
  content: ' *';
  color: var(--red);
}

input[type='text'],
input[type='password'] {
  height: 40px;
  padding: 10px;
  font-size: 15px;
}

.form_dropdown {
  height: 40px;
  outline: none !important;
  border: 1px solid var(--grey-200) !important;
  box-shadow: 0 0 0 0 !important;
  background-color: #fff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.form_dropdown_label {
  font-size: 15px;
}

input:focus {
  outline: none !important;
  border-color: var(--grey-500) !important;
}

input:disabled,
.form_dropdown:disabled {
  background-color: var(--grey-disabled) !important;
}

input,
.dropdown > a {
  border: 1px solid var(--grey-200) !important;
  border-radius: 2px !important;
}

.labelText {
  color: var(--grey-400);
  font-size: 15px;
  font-weight: normal;
  text-align: end;
  width: max-content;
}

progress {
  appearance: none;
  width: 100%;
  height: 5px;
}
.progress-done::-webkit-progress-bar {
  background: var(--grey-400);
  border-radius: 10px;
}
.progress-done::-webkit-progress-value {
  border-radius: 10px;
  background: var(--grey-400);
}
.progress-ing::-webkit-progress-bar {
  background: var(--grey-400);
  border-radius: 10px;
}
.progress-ing::-webkit-progress-value {
  border-radius: 10px;
  background: var(--yellow-primary);
}
.progress-red::-webkit-progress-bar {
  background: var(--red);
  border-radius: 10px;
}
.progress-red::-webkit-progress-value {
  border-radius: 10px;
  background: var(--red);
}

.selectBox {
  position: relative;
  width: 110px;
  height: 40px;
  border: 1px solid var(--grey-200) !important;
  border-radius: 2px !important;
  cursor: pointer;
}
.selectBox i {
  position: absolute;
  top: 12px;
  right: 10px;
}
.selectBox .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding: 0 10px;
  background: transparent;
  cursor: pointer;
}
.selectBox .optionList {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #fff;
  list-style-type: none;
  padding: 0;
  overflow: auto;
  max-height: 0;
  transition: 0.3s ease-in;
}
.selectBox.active .optionList {
  max-height: 400px;
  border: 1px solid var(--grey-300);
}
.selectBox .optionItem {
  height: 25px;
  padding: 0 10px;
  transition: 0.1s;
  font-size: 13px;
}
.selectBox .optionItem:hover {
  background: var(--yellow-light);
}
.selectBox .optionItem:last-child {
  border-bottom: 0 none;
}
.selectBox .optionList::-webkit-scrollbar {
  width: 0;
}

.datepickerInput {
  height: 30px !important;
}
