.tableTopContainer {
  border: 1px solid var(--border-grey);
  height: min-content;
  border-radius: 5px;
  overflow: hidden;
}
.tableContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
}
table {
  width: 100%;
  font-size: 13px;
}
.tableHead thead {
  height: 60px;
  background-color: var(--grey-disabled);
  text-align: center;
}
.tableBody {
  height: 320px;
  overflow-y: scroll;
  padding: 10px 0;
}
.tableBody td {
  height: 40px;
  text-align: center;
}
.tableBottom {
  height: 60px;
  border-top: 1px solid var(--border-grey);
  display: flex;
  align-items: center;
  padding: 0 15px;
}
tr {
  border: none !important;
}
td {
  border: none !important;
}

/* 연결 상태 */
.status {
  width: 8px;
  height: 8px;
  background-color: var(--grey-500);
  border-radius: 100%;
}
.status_on {
  background-color: #40ab40;
}
