col:nth-child(1) {
  width: 5%;
}
col:nth-child(2) {
  width: 40px;
}
col:nth-child(3) {
  width: 10%;
}
col:nth-child(4) {
  width: 10%;
}
col:nth-child(5) {
  width: 10%;
}
col:nth-child(6) {
  width: 10%;
}
col:nth-child(7) {
  width: 10%;
}
col:nth-child(8) {
  width: 10%;
}
col:nth-child(9) {
  width: 10%;
}
col:nth-child(10) {
  width: 10%;
}
col:nth-child(11) {
  width: 70px;
}
