#schedulesStoreMain {
  /* max-width: 1000px; */
}
#schedulesStoreMain .cards {
  display: grid;
  grid-template-columns: 280px auto;
  gap: 15px;
  position: relative;
}
#schedulesStoreMain .cardColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#schedulesStoreMain .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
}
#schedulesStoreMain .card_first {
  height: 300px;
}
#schedulesStoreMain .card_third {
  /* height: 330px; */
  height: 750px;
}
#schedulesStoreMain .card_last {
  height: 440px;
}
