.cards {
  display: grid;
  grid-template-columns: 280px auto;
  gap: 15px;
  position: relative;
}
.cardColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
}
.card_first {
  height: 300px;
}
.card_third {
  /* height: 330px; */
  height: 750px;
}
.card_last {
  height: 440px;
}
